body{
    background-color:gray;
}

.selection{
    display: flex;
    justify-content: center;

}

.selection{
    background-color: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}

.selection:hover{
    transform: scale(1.2);
}

.results{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
.results-score{
    margin-left: .1rem;
    font-size: .5rem;
    color: #333;
}
.results-selection{
    opacity: .5;
    font-size: 7.5rem;
}
.results-selection.winner{
    opacity: 1;
    font-size: 1.5rem;
}

